<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="debugUIHelper" name="Debug UI Helper" schema="schema/debugUIHelper.exsd"/>
   <extension-point id="breakpointPathResolver" name="Breakpoint Path Resolver" schema="schema/breakpointPathResolver.exsd"/>
   <extension-point id="sourceLookupExtensions" name="Source Lookup Extensions" schema="schema/sourceLookupExtensions.exsd"/>
   <extension-point id="uiBrowserTabChooser" name="Browser Tab Chooser UI" schema="schema/uiBrowserTabChooser.exsd"/>
   <extension-point id="uiDeviceChooser" name="Device Chooser UI" schema="schema/uiDeviceChooser.exsd"/>
   <extension-point id="domResourceTracker" name="DOM Resource Tracker" schema="schema/domResourceTracker.exsd"/>

   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
            <!-- Can't rename "...chromeLaunchConfig", because that would destroy existing tun configurations-->
      <launchConfigurationType
            delegate="com.github.sdbg.debug.core.configs.BrowserLaunchConfigurationDelegate"
            id="com.github.sdbg.debug.core.chromeLaunchConfig"
            modes="run,debug"
            name="%launchconfig.browser.name"
            sourceLocatorId="com.github.sdbg.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.github.sdbg.debug.core.chromeSourcePathComputer">
      </launchConfigurationType>
      
      <launchConfigurationType
            delegate="com.github.sdbg.debug.core.configs.ChromeAppLaunchConfigurationDelegate"
            id="com.github.sdbg.debug.core.chromeAppLaunchConfig"
            modes="run,debug"
            name="%launchconfig.chromeApp.name"
            sourceLocatorId="com.github.sdbg.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.github.sdbg.debug.core.chromeSourcePathComputer">
      </launchConfigurationType>
      
            <!-- Can't rename "...chromeConnLaunchConfig", because that would destroy existing tun configurations-->
      <launchConfigurationType
            delegate="com.github.sdbg.debug.core.configs.BrowserConnLaunchConfigurationDelegate"
            id="com.github.sdbg.debug.core.chromeConnLaunchConfig"
            modes="debug"
            name="%launchconfig.chromeConn.name"
            sourceLocatorId="com.github.sdbg.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.github.sdbg.debug.core.chromeSourcePathComputer">
      </launchConfigurationType>
      
      <launchConfigurationType
            delegate="com.github.sdbg.debug.core.configs.ChromeMobileConnLaunchConfigurationDelegate"
            id="com.github.sdbg.debug.core.chromeMobileConnLaunchConfig"
            modes="debug"
            name="%launchconfig.chromeMobileConn.name"
            sourceLocatorId="com.github.sdbg.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.github.sdbg.debug.core.chromeSourcePathComputer">
      </launchConfigurationType>

      <launchConfigurationType
            delegate="com.github.sdbg.debug.core.configs.AndroidReverseForwardsLaunchConfigurationDelegate"
            id="com.github.sdbg.debug.core.androidReverseForwardsLaunchConfig"
            modes="run"
            name="%launchconfig.androidReverseForwards.name">
      </launchConfigurationType>
   </extension>

   <!-- breakpoints -->

   <extension
      id="breakpointMarker"
      point="org.eclipse.core.resources.markers">

      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>

   <extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.github.sdbg.debug.core.breakpoints.SDBGBreakpoint"
            id="com.github.sdbg.debug.core.lineBreakpoint"
            markerType="com.github.sdbg.debug.core.breakpointMarker"
            name="SDBG breakpoint">
      </breakpoint>
   </extension>

   <!-- source locator -->

   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
         name="SDBG Source Lookup Director"
         class="com.github.sdbg.debug.core.internal.source.SDBGSourceLookupDirector"
         id="com.github.sdbg.debug.core.sourceLookupDirector">
      </sourceLocator>
   </extension>

   <extension point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
         class="com.github.sdbg.debug.core.internal.webkit.model.WebkitSourcePathComputerDelegate"
         id="com.github.sdbg.debug.core.chromeSourcePathComputer">
       </sourcePathComputer>
   </extension>
   
   <!-- debugger expression evaluation -->
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
         debugModel="com.github.sdbg.debug.core"
         delegateClass="com.github.sdbg.debug.core.internal.expr.WatchExpressionDelegate"/>
   </extension>

<!--
   <extension point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
         id="com.github.sdbg.debug.core.logical.mapStructureType"
         class="com.github.sdbg.debug.core.internal.logical.MapStructureType"
         description="SDBG Maps"
         modelIdentifier="com.github.sdbg.debug.core">
      </logicalStructureType>
   </extension>
-->   
   
   <extension
         point="com.github.sdbg.debug.core.domResourceTracker">
      <tracker
            class="com.github.sdbg.debug.core.internal.util.GenericDOMResourceTracker">
      </tracker>
   </extension>
</plugin>
